[submodule "first"]
	path = first
	url = git@github.com:itkoren/Lets-Node-ex-1.git
[submodule "second"]
	path = second
	url = git@github.com:itkoren/Lets-Node-ex-2.git
[submodule "third"]
	path = third
	url = git@github.com:itkoren/Lets-Node-ex-3.git
[submodule "forth"]
	path = forth
	url = git@github.com:itkoren/Lets-Node-ex-4.git
[submodule "fifth"]
	path = fifth
	url = git@github.com:itkoren/Lets-Node-ex-5.git
[submodule "sixth"]
	path = sixth
	url = git@github.com:itkoren/Lets-Node-ex-6.git
[submodule "seventh"]
	path = seventh
	url = git@github.com:itkoren/Lets-Node-ex-7.git
[submodule "eighth"]
	path = eighth
	url = git@github.com:itkoren/Lets-Node-ex-8.git
[submodule "ninth"]
	path = ninth
	url = git@github.com:itkoren/Lets-Node-ex-9.git
[submodule "tenth"]
	path = tenth
	url = git@github.com:itkoren/Lets-Node-ex-10.git
